[submodule "IntVector/external/googletest"]
	path = IntVector/external/googletest
	url = https://github.com/google/googletest.git
[submodule "List/external/googletest"]
	path = List/external/googletest
	url = https://github.com/google/googletest.git
[submodule "Vector-Copy-on-Write/external/googletest"]
	path = Vector-Copy-on-Write/external/googletest
	url = https://github.com/google/googletest.git